// The width and height properties include the content, padding, and border
*
    box-sizing: border-box

// THE DEFAULT FONT-SIZE SET TO 10PX (62.5%) FOR COMFORTABLE REM USAGE
html
    font-size: 62.5%
    @include respond(tab-land)
        font-size: 56.25%
    @include respond(tab-port)
        font-size: 50%
    @include respond(phone)
        font-size: 30%
    @include respond(big-screen)
        font-size: 75%

body    
    padding: 5rem
    background-color: white
    scroll-behavior: smooth

.container
    background-color: #F7F7F7
    position: relative
    z-index: 0