// TEXT COLOR   
$grey: #777777
// PRIMARY COLOR OF THE WEBSITE
$brown-light: #BA8554
$brown-dark: #A14F03
// BLACK AND WHITE COLORS
$white: #FAFAFA
$black: #000000
// GRADIENTS
$gradient-brown-dark: linear-gradient(90deg, #BA8554 0%, #000000 100%)
$gradient-brown-light: linear-gradient(90deg, #C3956A 3.65%, #A24F03 100%)
// BUTTON SHADOW
$box-shadow: (0px 4px 4px rgba(0, 0, 0, 0.3))
// H2 Shadow
$shadow-h2: 0rem .4rem 0.4rem rgba($black, .25)
// GRID
$grid-width: 114rem
$margin-vertical-big: 8rem
$gutter-horizontal: 6rem

// TYPOGRAPHY
$font-size-paragraph: 1.6rem
$font-size-h2: 3.6rem
$font-size-h3: 2rem